header {
	background:#2c3e50;
	color:#fff;	
	padding-top: 0.7%;
}

.main {
	background:#FFFF;
	margin-top: 0.3%;
}

.color1{
	background: #FFFF;
	color:#000000;
}

aside {
	background:#c0392b;
	color:#fff;
}

.sociales{
	margin-top: 0.5%;
}

footer {
	padding-top: 1%;
	padding-bottom: 0.3%; 
	margin-top: 1%;
	background: #FF0000;
	color:#fff;
}

.nav1{
	background-color: #DDDDDD;
}

.border1{
  margin-top: 10px;
  border-top: solid 5px #000000;
  border-left: solid 5px #000000;
  border-right: solid 5px #000000;
  border-bottom: solid 5px #000000;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #DDDDDD;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 14px 14px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #fff;
}

.active {
  background-color: blue;
  color: #fff;
}


