<style>
main, header, section, aside, footer {
	display: block;
	
}
.content {
	flex:1;
	background: #129a22;
}

.sidebar {
	flex: 0 1 320px;
	border: 1px solid #000000;
	background: #673ab7;
}

.header{
	background: orange;
}

.hero {
	background: orange;
}

@media (min-width: 640px) {
	.flex-container {
		display: flex;
	}
}

</style>