body {
	margin: 0px;
	padding: 0px;
	background-color: grey;
}
@media (max-width: 1080px) {
	body {
		background-color: red;
	}
}
@media (max-width: 720px) {
	body {
		background-color: yellow;
	}
}
@media (max-width: 480px) {
	body {
		background-color: #3333FF;
	}
}
