<style>
	body{
		width: 500px;
		margin: 0 auto;
	}
	p{
		background-color: aqua;
		border: 3px solid blue;
		margin: 10px auto;
		padding: 10px auto;
	}
	nav ul{
		display:flex;
		margin: 10px;
		background-color: white;
		justify-content: space-between;
	}
	li{
		margin: 5px;
		padding: 5px;
		list-style: none;
		border: 3px solid blue;
	}
	.nuevo{
		position: fixed;
		top: 5px; right: 5px;
		width: 90px;
		background-color: yellow;
		margin: 10px;
		padding: 15px;
	}
</style>