html {
    text-align: center;
}

#index_titulo {
    text-align: justify;
    width: 50%;
    margin-top: 50px;
}

#titulo_monumentos {
    text-align: left;
    width: 50%;
    margin-top: -130px;
    margin-left: 60%;
}

img {
    width: 30%;
    height: 30%;
}